#bacimg1{height: 669px;width: 1366px;background: url("../../static/img/9.jpg") no-repeat;}
<<<<<<< HEAD
#reg{background:#F5F5F5;width: 400px;height: 400px;position: absolute;  top:50%;left:50%;margin-left: -200px;margin-top: -180px;border-radius: 7px;opacity:0.9;}
#bacimg1 #reg .form-group{margin-top: 10px;}
#bacimg1 #reg .form-group #exampleInputEmail1{height: 30px;width: 260px;margin-left: 70px;}
#bacimg1 #reg button{height: 40px;width: 260px;margin-left: 70px;font-size: 16px;font-weight: bold;background: #FFA800;line-height: 30px;
    color: #fff;opacity:1;}
#bacimg1 #reg .form-group a{margin-left: 70px;}
#bacimg1 #reg .form-group #spanviy1{color: red;font-size: 15px;margin-left: 70px;margin-top: 10px;}
=======
#reg{background:#F5F5F5;width: 400px;height: 340px;position: absolute;  top:50%;left:50%;margin-left: -200px;margin-top: -150px;border-radius: 7px;}
#bacimg1 #reg .form-group{margin-top: 10px;}
#bacimg1 #reg .form-group #exampleInputEmail1{height: 30px;width: 260px;margin-left: 70px;}
#bacimg1 #reg button{height: 40px;width: 260px;margin-left: 70px;font-size: 16px;font-weight: bold;background: #FFA800;line-height: 30px;
    color: #fff;}
>>>>>>> e53c359dbc719b11ecfe44c1263bda5326f6d2af
#bacimg1 #reg .reg1{margin-left: 70px;font-size: 13px;margin-top: 15px;}
#bacimg1 #reg .reg2{margin-left: 180px;font-size: 13px;margin-top: 12px;border-radius:21px;}
#bacimg1 #reg .reg2 img{border-radius:21px;}
#bacimg1 #reg .reg3{margin-left: 140px;font-size: 13px;margin-top: 5px;}
#bacimg1 #reg #div1{height: 20px;font-size: 12px;color: red;margin-left: 140px;margin-top: 5px;}