<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>小组看板 - 蚂蜂窝</title>


    <script type="text/javascript">
        window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","UID":0,"CSTK":"4cdf89f5cf319a2a146f44c54ee37957_62bae8cf435b289e25129bf2ed225759","GOOGLE_MAP_KEY":"AIzaSyD-Su0x_rPy1xehlMBcMyTqWkU49Bk53nQ"};
    </script>

    <link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+app+topbar_v2^alw^1466649267.css" rel="stylesheet" type="text/css"/>



    <script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics^ZFw^1476350397.js" type="text/javascript"></script>
    <script type="text/javascript">
        var __mfw_uid = parseInt('0');
    </script>
    <script language="javascript" src="http://js.mafengwo.net/js/cv/js+common+jquery.plugins:js+common+widgets:js+mfw.storage^ZlI^1461130129.js" type="text/javascript"></script>
    <link href="http://css.mafengwo.net/css/cv/css+group_common:css+group_create:css+group_manage:css+group_deindex^ZV0^1439888024.css" rel="stylesheet" type="text/css"/>
    <link href="http://css.mafengwo.net/css/group/group_n.css?1470882961" rel="stylesheet" type="text/css"/>
    <script language="javascript" src="http://js.mafengwo.net/js/jquery.simplePage.js?1439887642" type="text/javascript"></script>
    <style>
        .topBar .topBarC .tb{float: left;}
        .topBar .topBarC .tb ul li{float: left;margin-left: 20px;line-height: 46px;font-size: 16px;font-family: "Adobe Caslon Pro Bold"}
        .topBar .topBarC .log{float: right;line-height: 46px;font-size: 15px;}
        .topBar .topBarC .log a{margin-left: 20px;font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", FontAwesome, sans-serif}
        #hot_article_by_reply{display: none}

    </style>
</head>
<body>

<div class="topBar">
    <div class="topBarC">
        <div class="tb">
            <ul>
                <li data-cs-p="index">
                    <strong class="t"><a href="/">Qi☺Tu首页</a></strong>
                </li>
                <li data-cs-t="wenda" data-cs-p="wenda">
                    <strong class="t"><a data-cs-p="from_wo_nav" href="/wenda/">大家都在看</a></strong>
                </li>
                <li data-cs-t="things" data-cs-p="things">
                    <strong class="t"><a data-cs-p="from_wo_nav" href="/mall/things.php">屌丝专区</a></strong>
                </li>
                <li data-cs-p="together">
                    <strong class="t"><a href="/together/">ZZ专区</a></strong>
                </li>
                <li data-cs-p="group">
                    <strong class="t"><a href="/group/">小组</a></strong>
                </li>
                <li data-cs-p="mall">
                    <strong class="t"><a href="/mall/">蜂蜜兑换</a></strong>
                </li>
            </ul>
        </div>
        {if session('username')}
        {if 1}
        <div class="log">
            <a style="text-decoration: none;color: red;">欢迎超级大帅哥&nbsp;&nbsp;<b style="font-size: 20px;">{:session('username')}</b></a><span class="split">|</span><a href="__SITE__/admin/" rel="nofollow">管理中心</a><span class="split">|</span><a href="__WEBSITE__/user/profile" rel="nofollow">我的资料</a><span class="split">|</span><a href="__WEBSITE__/auth/logout" rel="nofollow">退出管理账号</a>
        </div>
        {else}
        <div class="log">
            <a id="_j_showlogin" href="__SITE__/ttt" rel="nofollow">个人中心</a><span class="split">|</span><a href="__SITE__/index/au" rel="nofollow">我的订单</a><span class="split">|</span><a href="__WEBSITE__/auth/logout" rel="nofollow">我想去的</a><span class="split">|</span><a href="__WEBSITE__/auth/logout" rel="nofollow">我的游记</a><span class="split">|</span><a href="__WEBSITE__/auth/logout" rel="nofollow">退出</a>
        </div>
        {/if}
        {else}
        <div class="log">
            <a id="_j_showlogin" href="__WEBSITE__/auth/login" rel="nofollow">登录</a><span class="split">|</span><a href="__WEBSITE__/auth/register" rel="nofollow">注册</a>
        </div>
        {/if}
    </div>
</div>
<style type="text/css">
    .pagebar{ text-align: right; padding-top: 10px;}
    .pagebar .ti, .pagebar .this-page {
        border: 1px solid #EDA000;
        padding: 2px 6px;
        background: #FFFFFF;
        color: #666;
        font-size: 12px;
        text-decoration: none;
        margin-right: 3px;
    }
    .pagebar .ti:hover, .pagebar .this-page {
        background: #946400;
        color: #fff;
        text-decoration: none;
    }
    .activity_date_time{
        float: right;
        font-size:10px;
        font-family:arial;
    }
</style>
<div class="wrapper">
    <script type="text/javascript">
        function switchPanel(index){
            $('#panel_tab').children().removeClass("on").eq(index).addClass("on");
            var box = $('.ig_bd').children().hide().eq(index);
            if (box.html() != ''){
                box.show();
            }
            else{
                $.ajax({
                    type: "GET",
                    url: '/group/ajax_group_my.php',
                    data: {
                        'sAction' : 'getMyGroup',
                        'sType' : box.attr("id")
                    },
                    dataType: 'json',
                    success: function(data) {
                        box.html(data.payload.html).show();
                    }
                });
            }
        }
    </script>
    <div class="col_main">
        <div class="hot_topic">
            <div class="g_tab">
                <ul class="clearfix">
                    <li id="new_tab" class="on"><a href="javascript:void(0);">最新话题<b><i></i></b></a></li>
                    <li id="hot_tab"><a href="javascript:void(0);">热门话题<b><i></i></b></a></li>
                </ul>
            </div>
            <div class="bd">
                <div class="gt">
                    <table>
                        <tr>
                            <th class="topic_tit">话题</th>
                            <th class="group_tit"></th>
                            <th class="author">作者</th>
                            <th class="">回复/阅读</th>
                            <th class="">最后回复</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tbody class="topic_new" id="new_article">
                        <!-- 最新发布 -->
                        <tr>
                            <td class="topic_tit">
                                <img src="http://images.mafengwo.net/images/group/icon_eve.gif">
                                <h3><a target="_blank"  href="/g/i/3037383.html" title="【蚂蜂窝商店晒单啦】选选最用心的晒单照">】选选最用心... </a></h3>
                            </td>
                            <td class="group_tit">
                                <strong><a target="_blank"  href="/g/13356.html" title="MFW问答"></a></strong>
                            </td>
                            <td class="author">
                                <a target="_blank"  href="/u/66033691.html" title="蚂蜂窝问答君">
                                    <img src="http://b2-q.mafengwo.net/s6/M00/FC/57/wKgB4lMZRf-AdWobAACKKTtf5DU33.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                    <span>蚂蜂窝问答君</span>
                                </a>
                            </td>
                            <td class="view_num">
                                <span>10703/589337</span>
                            </td>
                            <td class="date_time"><span>12-06 11:04</span></td>
                            <td class="reply">
																                  <span class="avatar16">
					<a target="_blank"  href="/u/17473712.html" title="偶爱嘉年华">
                        <img src="http://n2-q.mafengwo.net/s9/M00/2F/89/wKgBs1crDdiAB0erAAEmwDZq4R493.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                    </a>
				</span>
                            </td>
                        </tr>
                        </tbody>
                        <tbody id="hot_article_by_reply" class="topic_hot">
                        <!-- 热门话题 -->
                        <tr>
                            <td class="topic_tit">
                                <img src="http://images.mafengwo.net/images/group/icon_eve.gif">
                                <h3><a target="_blank"  href="/g/i/3037383.html" title="【蚂蜂窝商店晒单啦】选选最用心的晒单照">【蚂蜂窝商店晒单啦】选选最用心... </a></h3>
                            </td>
                            <td class="group_tit">
                                <strong><a target="_blank"  href="/g/13356.html" title="MFW问答"></a></strong>
                            </td>
                            <td class="author">
                                <a target="_blank"  href="/u/66033691.html" title="蚂蜂窝问答君">
                                    <img src="http://b2-q.mafengwo.net/s6/M00/FC/57/wKgB4lMZRf-AdWobAACKKTtf5DU33.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                                    <span>蚂蜂窝问答君</span>
                                </a>
                            </td>
                            <td class="view_num">
                                <span>10703/589337</span>
                            </td>
                            <td class="date_time"><span>12-06 11:04</span></td>
                            <td class="reply">
																                  <span class="avatar16">
					<a target="_blank"  href="/u/17473712.html" title="偶爱嘉年华">
                        <img src="http://n2-q.mafengwo.net/s9/M00/2F/89/wKgBs1crDdiAB0erAAEmwDZq4R493.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">
                    </a>
				</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pagebar" id="pager_new_article"></div>
                    <div class="pagebar hide" id="pager_hot_article_by_reply"></div>
                </div>
            </div>
        </div>
        <div class="title"><h2>最活跃兔兔丝</h2></div>
        <div class="gm1">
            <ul class="clearfix">
                <li class="item">
                    <span class="pic"><a target="_blank"  href="/g/11786.html" title="旅行摄影"><img src="http://n2-q.mafengwo.net/s4/M00/13/D4/wKgByU_1RJuSFhHrAAAlOzbut5E67.jpeg?imageView2%2F2%2Fw%2F100%2Fh%2F100%2Fq%2F90"></a></span>
                    <h3><a target="_blank"  href="/g/11786.html">旅行摄影</a></h3>
                    <p class="group_tag">类别：摄影，旅游，出行...</p>
                    <p>成员：13679</p>
                    <p>帖子数：4695</p>
                </li>
                <li class="item">
                    <span class="pic"><a target="_blank"  href="/g/10720.html" title="很爱住旅馆"><img src="http://n2-q.mafengwo.net/s1/M00/9C/8B/wKgBsU_1R9CNGLkTAAAy2_B9yNk57.jpeg?imageView2%2F2%2Fw%2F100%2Fh%2F100%2Fq%2F90"></a></span>
                    <h3><a target="_blank"  href="/g/10720.html">很爱住旅馆</a></h3>
                    <p class="group_tag">类别：青年旅舍、客栈、...</p>
                    <p>成员：307308</p>
                    <p>帖子数：1970</p>
                </li>

            </ul>
        </div>
        <hr>
        <div class="choice">


            <div class="gm2 clearfix">
                <h2 class="group_type">
                    <strong><a href="/group/glist.php?pid=1" target="_blank" name="archor_1" id="archor_1">旅行主义
                        <span>(1613).</span></a></strong>
                </h2>
                <ul class="clearfix">


                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11232.html" title="一个人旅行"><img src="http://b1-q.mafengwo.net/s3/M00/C4/3B/wKgBt0-CWgyP7hv8AAANDmGUV5o05.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11232.html">一个人旅行</a></h3>
                        <p class="gray">6403个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/10720.html" title="很爱住旅馆"><img src="http://n2-q.mafengwo.net/s1/M00/9C/8B/wKgBsU_1R9CNGLkTAAAy2_B9yNk57.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/10720.html">很爱住旅馆</a></h3>
                        <p class="gray">1970个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11840.html" title="Gapyear间隔年旅行"><img src="http://c1-q.mafengwo.net/s3/M00/5D/11/cnHhjE9TDdP-h481AAAPzlx5l7422.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11840.html">Gapyear间隔年旅行</a></h3>
                        <p class="gray">123个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11738.html" title="搭车去旅行"><img src="http://b2-q.mafengwo.net/s1/M00/93/76/wKgBm07xmlqbtCS9AACDxdwGJXk82.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11738.html">搭车去旅行</a></h3>
                        <p class="gray">1051个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11295.html" title="背包去旅行"><img src="http://a2-q.mafengwo.net/s1/M00/9E/2A/wKgBsU_1VKv1p1MOAAAomhHsG1g33.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11295.html">背包去旅行</a></h3>
                        <p class="gray">1379个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11513.html" title="最爱旅行明信片"><img src="http://a3-q.mafengwo.net/s5/M00/F6/B6/wKgB3FGQYZGABCDLAABTJL45AhE51.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11513.html">最爱旅行明信片</a></h3>
                        <p class="gray">1957个帖子</p>
                    </li>

                </ul>
            </div>
            <div class="gm2 clearfix">
                <h2 class="group_type">
                    <strong><a href="/group/glist.php?pid=2" target="_blank" name="archor_2" id="archor_2">户外运动
                        <span>(296).</span></a></strong>
                </h2>
                <ul class="clearfix">


                    <li>
                        <div class="pic"><a target="_blank"  href="/g/10850.html" title="杂踏单车"><img src="http://a2-q.mafengwo.net/s2/M00/8D/F3/wKgBtE_1PtrCeEuGAAApmdbk9Do58.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/10850.html">杂踏单车</a></h3>
                        <p class="gray">256个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11680.html" title="滑雪发烧友"><img src="http://b2-q.mafengwo.net/s2/M00/94/36/wKgBpU7MnAaeEiXaAAA0n5woBNI50.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11680.html">滑雪发烧友</a></h3>
                        <p class="gray">898个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11694.html" title="最爱攀岩"><img src="http://b2-q.mafengwo.net/s1/M00/BA/BF/wKgBm07TiDvHT4kUAAAQ0zXtURY50.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11694.html">最爱攀岩</a></h3>
                        <p class="gray">59个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/10476.html" title="天下足球"><img src="http://c2-q.mafengwo.net/s6/M00/A8/CC/wKgB4lOC1X2AHAkIAAExNsiSqqI41.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/10476.html">天下足球</a></h3>
                        <p class="gray">565个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11459.html" title="单车旅行故事"><img src="http://n1-q.mafengwo.net/s1/M00/16/FF/wKgBm07XHM75twv8AAAXRB0jDNA37.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11459.html">单车旅行故事</a></h3>
                        <p class="gray">1570个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11701.html" title="我为自驾狂"><img src="http://a3-q.mafengwo.net/s1/M00/31/EA/wKgBm07YRb2Ic3aiAAAXA3cKQa824.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11701.html">我为自驾狂</a></h3>
                        <p class="gray">2514个帖子</p>
                    </li>

                </ul>
            </div>
            <div class="gm2 clearfix">
                <h2 class="group_type">
                    <strong><a href="/group/glist.php?pid=3" target="_blank" name="archor_3" id="archor_3">摄影
                        <span>(185).</span></a></strong>
                </h2>
                <ul class="clearfix">


                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11405.html" title="水中影"><img src="http://a1-q.mafengwo.net/s1/M00/9B/5C/wKgBsU_1QLvLfGfiAAAwPzEPeys92.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11405.html">水中影</a></h3>
                        <p class="gray">543个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11537.html" title="《随手拍》"><img src="http://b1-q.mafengwo.net/s4/M00/D0/32/wKgByU_hpjn5_sYWAABMOpP_l8k78.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11537.html">《随手拍》</a></h3>
                        <p class="gray">1708个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11531.html" title="以图会友"><img src="http://p3-q.mafengwo.net/s4/M00/D0/20/wKgByU_hpiPAX1XgAABM4SVWOAg63.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11531.html">以图会友</a></h3>
                        <p class="gray">1133个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11786.html" title="旅行摄影"><img src="http://n2-q.mafengwo.net/s4/M00/13/D4/wKgByU_1RJuSFhHrAAAlOzbut5E67.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11786.html">旅行摄影</a></h3>
                        <p class="gray">4695个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11938.html" title="【原画册】旅行画册分享"><img src="http://c2-q.mafengwo.net/s4/M00/5C/1C/wKgByU-rhU-0M2EUAABYY2TKeFM65.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11938.html">【原画册】旅行画册分享</a></h3>
                        <p class="gray">3890个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/10064.html" title="色色蚂蜂"><img src="http://b1-q.mafengwo.net/s2/M00/B4/81/wKgBpU76rczTKlI9AAPs163k5yE07.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/10064.html">色色蚂蜂</a></h3>
                        <p class="gray">11708个帖子</p>
                    </li>

                </ul>
            </div>
            <div class="gm2 clearfix">
                <h2 class="group_type">
                    <strong><a href="/group/glist.php?pid=7" target="_blank" name="archor_7" id="archor_7">情感生活
                        <span>(205).</span></a></strong>
                </h2>
                <ul class="clearfix">


                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11400.html" title="单身男女"><img src="http://a1-q.mafengwo.net/s2/M00/10/52/wKgBpU6Y0yWzy5jnAAFUYd4EOG858.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11400.html">单身男女</a></h3>
                        <p class="gray">1339个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11579.html" title="大家来讲冷笑话"><img src="http://b3-q.mafengwo.net/s5/M00/91/D5/wKgB3FGMjqOAIJPGAAAJ-LSnlGA42.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11579.html">大家来讲冷笑话</a></h3>
                        <p class="gray">3279个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11740.html" title="微公益"><img src="http://c4-q.mafengwo.net/s2/M00/BA/29/wKgBpU76y-zxd5hMAAASTFgqTmE05.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11740.html">微公益</a></h3>
                        <p class="gray">90个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11621.html" title="花花世界"><img src="http://n3-q.mafengwo.net/s2/M00/71/06/wKgBpU6oIki7PhhtAAAixsy2XC023.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11621.html">花花世界</a></h3>
                        <p class="gray">2565个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11653.html" title="日光倾城"><img src="http://c2-q.mafengwo.net/s3/M00/12/20/wKgBjE8S7Q_Mw4ILAADZSjhcW9862.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11653.html">日光倾城</a></h3>
                        <p class="gray">4385个帖子</p>
                    </li>



                    <li>
                        <div class="pic"><a target="_blank"  href="/g/11810.html" title="生活方式决定健康!"><img src="http://c2-q.mafengwo.net/s3/M00/6C/F7/wKgBt0_1SEjk95WhAAAyxFzXUZ448.jpeg?imageView2%2F2%2Fw%2F68%2Fh%2F68%2Fq%2F90"></a></div>
                        <h3><a target="_blank"  href="/g/11810.html">生活方式决定健康!</a></h3>
                        <p class="gray">2076个帖子</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col_side">

        <div class="banner290" id="banner290">
            <div style="position:relative"><a target="_blank" href="http://www.mafengwo.cn/ad/r.php?key=YFhYQA" rel="nofollow"><img border="0" src="https://n3-q.mafengwo.net/s9/M00/9D/C9/wKgBs1gynDGAeXukAACNxXJ2X7U86.jpeg" /></a><img src="http://images.mafengwo.net/images/ad/icon.png?v=20160829" style="position:absolute;bottom: 4px;left:4px;width:22px;height:12px;" /></div>
        </div>
        <div class="gmt">
            <h2>同城聚会</h2>
            <span class="more"><a target="_blank"  href="/group/my.php?type=4">查看全部</a></span>
        </div>
        <div class="gmc2">
            <ul class="gmc_list">



                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/6338669.html" title="【12.17】 明信片联名第三季——圣诞节的祝福">【12.17】 明信片联名第三季——圣诞节的祝福</a></p>
                    <p><a target="_blank"  class="author" href="/u/1016289.html" title="乱跑的猫"><img src="http://c3-q.mafengwo.net/s5/M00/6C/2D/wKgB3FH34MOAP1tXAAGitinm4tc77.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">乱跑的猫</a><span class="activity_date_time">2016-11-21</span></p>
                    <p><a target="_blank"  class="join_btn" href="/g/i/6338669.html">报名</a>报名：GG-66  MM-19</p>
                </li>


                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/6377624.html" title="一起去那琴湾~【那琴湾奇石林】▏那琴湾海岸线穿越，赏奇石观沧海">一起去那琴湾~【那琴湾奇石林】▏那琴湾海岸线...</a></p>
                    <p><a target="_blank"  class="author" href="/u/67000750.html" title="一起去溜"><img src="http://p4-q.mafengwo.net/s9/M00/1F/18/wKgBs1gbk5uAex8uAAGMdJ41vVk334.png?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">一起去溜</a><span class="activity_date_time">2016-12-06</span></p>
                    <p><a target="_blank"  class="join_btn" href="/g/i/6377624.html">报名</a>报名：GG-0  MM-1</p>
                </li>


                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/6368951.html" title="武功山另样狂欢 绝美雪白草甸 日出云海">武功山另样狂欢 绝美雪白草甸 日出云海</a></p>
                    <p><a target="_blank"  class="author" href="/u/67000750.html" title="一起去溜"><img src="http://p4-q.mafengwo.net/s9/M00/1F/18/wKgBs1gbk5uAex8uAAGMdJ41vVk334.png?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">一起去溜</a><span class="activity_date_time">2016-12-02</span></p>
                    <p><a target="_blank"  class="join_btn" href="/g/i/6368951.html">报名</a>报名：GG-0  MM-1</p>
                </li>


                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/6351845.html" title="12/10.周六【从化十登系列之第一峰】▏攀南昆山天堂顶，勇闯广州第一峰">12/10.周六【从化十登系列之第一峰】▏攀南昆...</a></p>
                    <p><a target="_blank"  class="author" href="/u/67000750.html" title="一起去溜"><img src="http://p4-q.mafengwo.net/s9/M00/1F/18/wKgBs1gbk5uAex8uAAGMdJ41vVk334.png?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">一起去溜</a><span class="activity_date_time">2016-11-26</span></p>
                    <p><a target="_blank"  class="join_btn" href="/g/i/6351845.html">报名</a>报名：GG-0  MM-1</p>
                </li>


                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/5348066.html" title="徒步江南墨脱，触摸蓝天白云包围的秘境——徽开古道徒步三日">徒步江南墨脱，触摸蓝天白云包围的秘境——徽...</a></p>
                    <p><a target="_blank"  class="author" href="/u/90169419.html" title="纽扣妹"><img src="http://p3-q.mafengwo.net/s8/M00/06/BD/wKgBpVVBv-OAQYwdAAI-YhanNDs198.png?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">纽扣妹</a><span class="activity_date_time">2015-12-07</span></p>
                    <p><a target="_blank"  class="join_btn" href="/g/i/5348066.html">报名</a>报名：GG-3  MM-3</p>
                </li>

            </ul>
        </div>
        <div class="gmt">
            <h2>最新线上活动</h2>
            <span class="more"><a target="_blank"  href="/group/my.php?type=3" target="_blank">查看全部</a></span>
        </div>
        <div class="gmc2">
            <ul class="gmc_list">



                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/3037383.html" title=【蚂蜂窝商店晒单啦】选选最用心的晒单照">【蚂蜂窝商店晒单啦】选选最用心的晒单照</a></p>
                    <p><a target="_blank"  class="author" href="/u/66033691.html" title="蚂蜂窝问答君"><img src="http://b2-q.mafengwo.net/s6/M00/FC/57/wKgB4lMZRf-AdWobAACKKTtf5DU33.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">蚂蜂窝问答君</a><span class="activity_date_time">2014-04-15</span></p>
                    <p><a target="_blank"  class="join_btn" href="/event/action.php?action=join&iid=3037383" >参加</a><strong>2501</strong>人参加</p>
                </li>


                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/1319445.html" title=发一张图证明你对登山的热爱">发一张图证明你对登山的热爱</a></p>
                    <p><a target="_blank"  class="author" href="/u/682387.html" title="刘Tristan"><img src="http://n1-q.mafengwo.net/s3/M00/8E/AB/wKgBjE8lNKzogR0ZAAAZzviWaPY14.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">刘Tristan</a><span class="activity_date_time">2013-07-01</span></p>
                    <p><a target="_blank"  class="join_btn" href="/event/action.php?action=join&iid=1319445" >参加</a><strong>1481</strong>人参加</p>
                </li>


                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/3287474.html" title=【药不能停啊】一张图证明你有摄影师的潜质">【药不能停啊】一张图证明你有摄影师的潜质</a></p>
                    <p><a target="_blank"  class="author" href="/u/19363798.html" title="永远在路上"><img src="http://n4-q.mafengwo.net/s5/M00/77/6A/wKgB21BXvBmpV0VqAAGZbe6-nUU75.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">永远在路上</a><span class="activity_date_time">2015-01-30</span></p>
                    <p><a target="_blank"  class="join_btn" href="/event/action.php?action=join&iid=3287474" >参加</a><strong>329</strong>人参加</p>
                </li>


                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/892739.html" title=晒晒旅途中所听到的天籁之音吧！">晒晒旅途中所听到的天籁之音吧！</a></p>
                    <p><a target="_blank"  class="author" href="/u/5051638.html" title="心如止水"><img src="http://p2-q.mafengwo.net/s8/M00/94/DE/wKgBpVVPs6qAWPXIAAC1IHSvwaE77.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">心如止水</a><span class="activity_date_time">2012-05-22</span></p>
                    <p><a target="_blank"  class="join_btn" href="/event/action.php?action=join&iid=892739" >参加</a><strong>74</strong>人参加</p>
                </li>


                <li>
                    <p><a target="_blank"  class="t_title" href="/g/i/812969.html" title=那些年，我们住过的青年旅舍">那些年，我们住过的青年旅舍</a></p>
                    <p><a target="_blank"  class="author" href="/u/13418.html" title="凯文"><img src="http://a1-q.mafengwo.net/s1/M00/05/B8/wKgBm02Vk5TmrOErAAAUCuhgsok17.jpeg?imageMogr2%2Fthumbnail%2F%2116x16r%2Fgravity%2FCenter%2Fcrop%2F%2116x16%2Fquality%2F90">凯文</a><span class="activity_date_time">2012-02-02</span></p>
                    <p><a target="_blank"  class="join_btn" href="/event/action.php?action=join&iid=812969" >参加</a><strong>174</strong>人参加</p>
                </li>

            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('.g_search .ipt_k').focus(function(){
        if($(this).val() === "搜索小组或者话题"){
            $(this).val("");
        }
    }).blur(function(){
        if($(this).val() === ""){
            $(this).val("搜索小组或者话题");
        }
    });
    function submit_search(obj){
        var action = "";
        if($("#group_search .selected").text() === "小组"){
            action = "/group/glist.php";
            $("#search_type").val(1);
        }else{
            action = "/group/searchresult.php";
            $("#search_type").val(0);
        }
        if($('.g_search .ipt_k').val() === "搜索小组或者话题"){
            return false;
        }
        $(obj).attr('action',action);
    }
    jQuery("#group_search").bind("mouseenter",function(){
        $(".item",this).show();
    }).bind("mouseleave",function(){
        $(".item",this).hide();
    }).find(".item").click(function(){
        var text = $("#group_search .selected").text();
        $("#group_search .selected").text($(this).text());
        $("#group_search .item").text(text);
        $(this).hide();
    });
    $('#new_tab').click(function(){
        $('#hot_tab').removeClass('on');
        $(this).addClass('on');
        $('.topic_hot').hide();
        $('.topic_new').show();
        $('#pager_hot_article_by_reply').hide();
        $('#pager_new_article').show();
    });
    $('#hot_tab').click(function(){
        $('#new_tab').removeClass('on');
        $(this).addClass('on');
        $('.topic_new').hide();
        $('.topic_hot').show();
        $('#pager_new_article').show();
        $('#pager_hot_article_by_reply').hide();

    });
    $('.drop_wrap .city').click(function(){
        $('.menu_wrap .city_change').text($(this).text()+"分舵").attr('href',$(this).attr('id'));
    });

    $(function(){
        $("#pager_new_article").pagination({
            page : 1,
            args : '"new_article",20',
            total : 3891,
            item_size : 20,
            callback: doPage
        });
        $("#pager_hot_article_by_reply").pagination({
            page : 1,
            args : '"hot_article_by_reply",20',
            total : 192,
            item_size : 20,
            callback: doPage
        });

        $("#pager_self_article").simplePage({
            total : 0,
            current : 1,
            size : 5,
            args : ["self_article",5],
            callback: doPage
        });
    });
    function doPage(pageNo, type, pageSize){

        $.ajax({
            type : "POST",
            url : "/group/ajax_group.php",
            data : "act="+type+"&page="+pageNo+"&page_size="+pageSize,
            cache : false,
            async : false,
            dataType : "json",
            success : function(result) {

                createHTML(type, result);

            }
        });
    }

    //拼装HTML阶段
    function createHTML(type, response){
        var data = response.data;
        var html ="";
        if(type === "join_group"){
            html +='<div class="gm2"><ul class="clearfix">';
            for(var i in data[type].gid_list ){
                var group = data.all_gids_info[i];
                var user = data.all_uids_info[group.uid];

                html +='<li><div class="pic"><a target="_blank" href="/g/'+group.gid+'.html"><img src="'+group.logo+'"></a>';
                if($.inArray(i, data.ret_my_admin_gids) >= 0){
                    html +='<span class="m"><a target="_blank"  href="/group/groupsmod.php?gid='+group.gid+'">管理</a></span>';
                }
                html +='</div><h3><a target="_blank"  href="/g/'+group.gid+'.html">'+group.name+'</a></h3>';
                html +='<p class="gray">'+group.topic_num+'个帖子</p></li>';
            }
            html +='</ul></div>';

        }else{
            for(var i in data[type].iid_list){
                if(!data.all_iids_info[i]){
                    continue;
                }
                var art = data.all_iids_info[i];
                var group = data.all_gids_info[art.gid];
                var user = data.all_uids_info[art.uid];
                html += '<tr><td class="topic_tit"><img src="'+art.coin+'"><h3><a target="_blank"  href="/g/i/'+art.id+'.html" title="'+art.title+'">'+sub_str(art.title,15)+'</a></h3></td>';
                html += '<td class="group_tit"><strong><a target="_blank"  href="/g/'+group.gid+'.html" title="'+group.name+'">'+sub_str(group.name, 5)+'</a></strong></td>';
                html += '<td class="author"><a target="_blank"  href="/u/'+art.uid+'.html" title="'+user.name+'"><img src="'+user.logo+'"><span>'+sub_str(user.name,5)+'</span></a></td>';
                html += '<td class="view_num"><span>'+art.reply+'/'+art.pv+'</span></td>';
                var lasttime = art.lasttime.substr(5,11);
                html += '<td class="date_time"><span>'+lasttime+'</span></td>';
                user = art.lastuid == "0" ? user : data.all_uids_info[art.lastuid];
                html += '<td class="reply"><span class="avatar16"><a target="_blank"  href="/u/'+user.id+'.html" title="'+user.name+'"><img src="'+user.logo+'"></a></span></td></tr>';
            }
        }
        $('#'+type).html('').html(html);
    }

    var _COLLAPSE = "..."
    // 工具 - 模拟smarty的截取扩展
    function sub_str(content, size){
        return content.length <= size ? content:content.substr(0, size) + _COLLAPSE;
    }
    // 工具 - 模拟smarty的获取图片
    function get_url(url,size){
        return url.substr(0,url.length-5)+'.w'+size+url.substr(url.length-5,url.length);
    }

    $('#showRecGroups').click(function(){
        $('#my_rec_group').toggle();
    });

    $(function(){
        var gg=$("div.da_random","#banner290");
        var idx=parseInt(gg.length*Math.random());
        gg.eq(idx).show();
    });
</script>
<script>
</script>
<link href="http://css.mafengwo.net/css/mfw-footer.css?1478231953" rel="stylesheet" type="text/css"/>
<div id="footer">
    <div class="ft-content">
        <div class="ft-copyright">
            <div class="ft-safety">
                <a class="s-a" target="_blank" href="https://search.szfw.org/cert/l/CX20140627008255008321" id="___szfw_logo___"></a>
                <a class="s-b" href="https://ss.knet.cn/verifyseal.dll?sn=e130816110100420286o93000000&ct=df&a=1&pa=787189" target="_blank" rel="nofollow"></a>
                <a class="s-c" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/1669928206.html" target="_blank" rel="nofollow"></a>
            </div>
            <a href="http://www.mafengwo.cn"><i class="ft-mfw-logo"></i></a>
            <p>© 2016 Mafengwo.cn <a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP备11015476号</a>   京公网安备110105013401号   京ICP证110318号</p>
            <p>新出网证(京)字242号 全国统一客服电话：<span class="highlight">4006-345-678</span><a target="_blank" href="http://www.mafengwo.cn/s/sitemap.html" class="highlight m_l_10">网站地图</a></p>
        </div>
    </div>
</div>
<link href="http://css.mafengwo.net/css/mfw-toolbar.css?1459131121" rel="stylesheet" type="text/css"/>

<div class="mfw-toolbar" id="_j_mfwtoolbar">
    <div class="toolbar-item-top">
        <a role="button" class="btn _j_gotop">
            <i class="icon_top"></i>
            <em>返回顶部</em>
        </a>
    </div>
    <div class="toolbar-item-feedback">
        <a role="button" data-japp="feedback" class="btn">
            <i class="icon_feedback"></i>
            <em>意见反馈</em>
        </a>
    </div>
    <div class="toolbar-item-code">
        <a role="button" class="btn">
            <i class="icon_code"></i>
        </a>
        <a role="button" class="mfw-code _j_code">


            <img src="https://n3-q.mafengwo.net/s9/M00/01/7B/wKgBs1gjDcmAKFXuAAERZRJ4yus61.jpeg " width="300" height="192" >
        </a>
        <!--<div class="wx-official-pop"><img src="http://images.mafengwo.net/images/qrcode-weixin.gif"><i class="_j_closeqrcode"></i></div>-->
    </div>
    <div class="toolbar-item-down">
        <a role="button" class="btn _j_gobottom">
            <i class="icon_down"></i>
            <em>页面底部</em>
        </a>
    </div>
</div>
<script language="javascript" type="text/javascript">
    if (typeof M !== "undefined" && typeof M.loadResource === "function") {
        M.loadResource("http://js.mafengwo.net/js/cv/js+AHeaderWo:js+M+module+Storage:js+jquery.jgrowl.min:js+AMessage:js+M+module+dialog+Layer:js+M+module+dialog+DialogBase:js+M+module+dialog+Dialog:js+M+module+FrequencyVerifyControl:js+M+module+FrequencySystemVerify:js+ALogin:js+M+module+ScrollObserver:js+M+module+QRCode:js+AToolbar:js+ACnzzGaLog:js+ARecruit:js+ALazyLoad^YFdR^1469587281.js");
    }
</script>
</body>
</html>
