<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{$title}</title>
    <meta name="keywords" content="囧兔,旅游攻略,自助游" />
    <meta name="description" content="囧兔!靠谱的旅游攻略,最佳的自由行,自助游分享社区,海量旅游景点图片、游记等自由行旅游攻略信息,囧兔旅游网获取自由行,自助游攻略信息更全面" />
    <meta name="author" content="囧兔" />
    <meta property="qc:admins" content="1571256654651656777636" />
    <link rel="stylesheet" type="text/css" href="__WEBSTATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__WEBSTATIC__/css/reg.css">
    <link rel="stylesheet" type="text/css" href="__WEBSTATIC__/css/login.css">
    <link rel="stylesheet" type="text/css" href="__WEBSTATIC__/css/index.css">
	<script type="text/javascript" src="__WEBSTATIC__/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="__WEBSTATIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__WEBSTATIC__/js/ajax.js"></script>
    <script type="text/javascript">
        window.Env = {"WWW_HOST":"www.mafengwo.cn","IMG_HOST":"images.mafengwo.net","P_HOST":"passport.mafengwo.cn","P_HTTP":"https:\/\/passport.mafengwo.cn","UID":0,"CSTK":"dede75ba414f02f399759f4e6fbe8fa3_b3fca1f5c20ad4ec1d15b59e436e975e","GOOGLE_MAP_KEY":"AIzaSyAVw7kR-F7wmyk67WiCM8aAXWLFjkZCDNY"};
    </script>
    <link href="http://css.mafengwo.net/css/cv/css+base:css+jquery.suggest:css+plugins:css+plugins+jquery.jgrowl:css+other+popup:css+mfw-header.2015^YlVS^1480500257.css" rel="stylesheet" type="text/css"/>
    <link href="http://css.mafengwo.net/css/cv/css+mfw-index.2015:css+jquery-ui-1.9.1.custom.min:css+hotel+datepicker-range^ZFM^1480568810.css" rel="stylesheet" type="text/css"/>
    <script language="javascript" src="http://js.mafengwo.net/js/cv/js+jquery-1.8.1.min:js+global+json2:js+M+Module:js+M+M:js+M+Log:js+m.statistics^ZFw^1476350397.js" type="text/javascript"></script>
</head>
<body>
{__CONTENT__}
</body>
</html>