

<!-- content start -->
<div class="admin-content">
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> / <small>User Management</small></div>
  </div>

  <hr/>
  <div class="am-g">
    <div class="woziji">
        <form class="am-form">
            <table class="am-table am-table-striped table-main">
              <thead>
                <tr>
                  <th>用户ID</th>
                  <th>用户名</th>
                  <th>注册时间</th>
                  <th>IP</th>
                  <th>编辑选项</th>
                </tr>
              </thead>
              <tbody>
                {foreach $info as $val}
                <tr>
                  <td>{$val.id}</td>
                  <td>{$val.username}</td>
                  <td>{$val.regtime}</td>
                  <td>{$val.ip}</td>
                  <td>删除</td>
                </tr>
                {/foreach}
              </tbody>
            </table>
        </form>
        
    </div>
  </div>
</div>
  <!-- content end -->
